* {
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

html,
body {
  padding: 0;
  margin: 0;
}
.nav-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  z-index: 1;
  background-color: white;
}

.menu-items {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.app-name {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  width: 180px;
  margin-left: 50px;
}

.item {
  padding: 15px 15px;
  font-size: 1.3rem;
  color: black;
}

a {
  text-decoration: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.login-error {
  background-color: black;
  color: white;
  margin-bottom: 10px;
  width: 400px;
  border-radius: 10px;
  height: 50px;
}

.login-error p {
  padding-top: 10px;
  padding-left: 12px;
  margin: 0;
  font-size: 1rem;
}

.text {
  font-size: 2rem;
  padding-bottom: 10px;
}

.hide {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  border: 2px solid black;
  border-radius: 15px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

input {
  width: 300px;
  height: 40px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 2px solid black;
}

#password {
  margin-bottom: 10px;
}

label {
  font-size: 0.9rem;
  padding-left: 5px;
  padding-bottom: 5px;
}

.icon {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user {
  position: absolute;
  font-size: 40px;
  left: 20px;
  top: 15px;
}

p {
  font-size: 0.7rem;
  padding-left: 5px;
  margin-bottom: 0;
}

#forGoogle {
  padding-bottom: 10px;
}

.google-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 6px;
  background-color: white;
  color: #444;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 10px;
  margin-top: 0;
}

.google-btn img {
  height: 18px;
}

.google-btn:hover {
  background-color: #f5f5f5;
}

#submit {
  background-color: black;
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 150px;
  background-color: black;
  padding-top: 20px;
}

.footer h1 {
  font-size: 1rem;
  color: white;
}

#copyright {
  font-size: 1.3rem;
}

@media screen and (max-width: 658px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .menu-items {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .item {
    padding: 0;
  }

  .app-name {
    margin-left: 30px;
  }

  .form-container {
    margin-top: 250px;
  }
}
